@import "../../vars.css";

.container {
  position: relative;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
  padding: 73px;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  color: var(--color-text);
}

.logo {
    width: 70px; /* Adjust as needed */
    height: 70px; /* Adjust as needed */
    overflow: hidden; /* Hides any part of the image that goes beyond the circle */
    border-radius: 50%; /* Creates the circular shape */
}

.logo img {
    width: 100%; /* Ensures the image fills the container */
    height: 100%; /* Ensures the image fills the container */
    object-fit: cover; /* Keeps the image's aspect ratio while filling the container */
}

.specialText {
    color:#00FFFF;
    display: inline;
    font-weight: bold;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.container h4 {
    font-size: 30px;
    color: var(--color-primary);
}

.experienceItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  border: 5px white;
  list-style: none;
  padding: 50px;
  background-image: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
  width: 100%;
}

.experienceItem:hover {
  background-size: 100% 100%;
}

.experienceItem h3 {
  font-size: 17px;
  font-weight: 600;
  text-align: center;
}

.experienceItem h3 img {
    width: 15%;
}

.experienceItem p {
  font-size: 15px;
  color: lightgray;
  text-align: start;
}

.experienceItem p a {
    color: lightgray;
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }
}